.card{
    min-height: 600px;
    // min-width: 500px;
    border-radius: 10px;
    background-color: #d8e2e2a3;
    box-shadow: 0 0 10px 0px #b8b8f6;
    margin: 2rem;
}

/* styles.css or styles.scss */
.ckeditor-container {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  